In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("available_data.csv")

In [5]:
df

   emp_id  gender   age    salary  has_car
0       1    Male  25.0   86177.0        1
1       2    Male  27.0   67961.0        0
2       3  Female   NaN   88344.0        0
3       4    Male  30.0   86222.0        1
4       5  Female  24.0  105669.0        0
5       6  Female  36.0       NaN        1
6       7     NaN  48.0   68091.0        0
7       8  Female  27.0   65480.0        1
8       9  Female  25.0   79193.0        1
9      10    Male  31.0  104414.0        0

In [42]:
num_vars_1 =['age']

In [43]:
type(num_vars_1)

list

In [44]:
num_vars_2 =["salary"]

In [45]:
cat_vars= ["gender"]

In [46]:
from sklearn.impute import SimpleImputer

In [47]:
abc= SimpleImputer(missing_values=np.NaN, strategy="mean")
xyz= SimpleImputer(missing_values=np.NaN, strategy="median")
ecb= SimpleImputer(missing_values=np.NaN, strategy="most_frequent")

In [48]:
from sklearn.preprocessing import OneHotEncoder

In [49]:
uio = OneHotEncoder(sparse=False)

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
hjk= StandardScaler()
hjk_1=StandardScaler()

In [52]:
from sklearn.pipeline import Pipeline

In [53]:
numerical_transformer_1= Pipeline(steps=[
    ('what_age', abc), ('age_scale', hjk)
])

In [54]:
numerical_transformer_2=Pipeline(steps=[
    ('what_salary', xyz), ('salary_scale', hjk_1)
])

In [55]:
cat_transformer_1 = Pipeline( steps=[
    ('category', ecb),
    ('which_category', uio)
])

In [56]:
from sklearn.compose import ColumnTransformer

In [57]:
clm = ColumnTransformer( transformers= [
    ('sdad', numerical_transformer_1, num_vars_1),
    ('sadas', numerical_transformer_2, num_vars_2),
    ('dsdsdds', cat_transformer_1, cat_vars)  
])

In [58]:
clm.fit(df)

ColumnTransformer(n_jobs=None, remainder='drop', sparse_threshold=0.3,
         transformer_weights=None,
         transformers=[('sdad', Pipeline(memory=None,
     steps=[('what_age', SimpleImputer(copy=True, fill_value=None, missing_values=nan, strategy='mean',
       verbose=0)), ('age_scale', StandardScaler(copy=True, with_mean=True, with_std=True))]), ['age']), ('sadas', Pipeline(memory=None,
     steps=[('...class 'numpy.float64'>, handle_unknown='error',
       n_values=None, sparse=False))]), ['gender'])])

In [59]:
X=clm.transform(df)

In [60]:
X

array([[-0.78296029,  0.17942338,  0.        ,  1.        ],
       [-0.48935018, -1.18002106,  0.        ,  1.        ],
       [ 0.        ,  0.34114473,  1.        ,  0.        ],
       [-0.04893502,  0.18278169,  0.        ,  1.        ],
       [-0.92976535,  1.63409461,  1.        ,  0.        ],
       [ 0.83189531,  0.17942338,  1.        ,  0.        ],
       [ 2.59355597, -1.17031927,  1.        ,  0.        ],
       [-0.48935018, -1.36517596,  1.        ,  0.        ],
       [-0.78296029, -0.34178654,  1.        ,  0.        ],
       [ 0.09787004,  1.54043504,  0.        ,  1.        ]])

In [62]:
y=df.iloc[ :, -1].values

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
X_train, x_test, y_train, t_test = train_test_split(X, y, test_size=0.3)